<%= f.error_messages :header_message => "Substance saving error", :message => "The substance could not be saved. Please correct the following:" %>
<div class="field">
	<%= f.label :name, :class => 'round' %>:&nbsp;<%= f.text_field :name %>
</div>
<div class="field">
	<%= f.label :sort_keyword, :class => 'round'%>:&nbsp;<%= f.text_field :sort_keyword %>
</div>
