<%= form_for(@bottle) do |f| %>
	<%= render 'form', :f => f %>
	<div class="actions">
		<%= link_to "Back to list", session[:back_btn_path], :id => "back_btn" %>
		<%= f.submit "Update" %>
	</div>
<% end %>

<%= render 'jquery_controls' %>
