<%= f.error_messages :header_message => "Supplier saving error", :message => "The supplier could not be saved. Please correct the following:" %>
<div class="field">
  <%= f.label :name, :class => 'round' %>:&nbsp;<%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :email, :class => 'round' %>:&nbsp;<%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :phone_number, :class => 'round' %>:&nbsp;<%= f.text_field :phone_number %>
</div>
