<%= link_to "Create new Location", new_location_path, :id => "create_btn" %>
<% form_tag(locations_path, {:class => "round", :method => :get, :id => "search_box"}) do %>
  <%= text_field_tag :search, params[:search] %><%= submit_tag "Search", :name => nil -%>
<% end -%>
<div class="round" id="result_list">
<%= will_paginate %>
<ul>
<%= render @locations %>
</ul>
<%= will_paginate %>

</div>
<script type="text/javascript" charset="utf-8">
	function other_setup(jQ) {
		jQ(function() {
			// Setup the buttons
			jQ("#create_btn, input:submit").button();
			jQ(".edit_btn").button({
				icons: {
					primary:'ui-icon-pencil'
				}
			});
			jQ(".delete_btn").button({
				icons: {
					primary:'ui-icon-trash'
				},
				text: false
			});
			
			jQ("#result_list li:odd").addClass("li_odd");
		});
	}
</script>